:root {
  --primary-color: #5F2D8B;
  --primary-light: #ECE6F3;
  --secondary-color: #07E994;
  --secondary-light: #C9F1E2;
  --paragraph-color: #555;
  --third-color: #6C63FF;
}

body {
  font-family: 'Inter';
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: 48px !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 38px !important;
  font-weight: 600 !important;
}

.small-h2 {
  font-size: 34px !important;
  font-weight: 600 !important;
  line-height: normal;
}

.para {
  font-size: 16px;
  color: var(--paragraph-color);
  font-weight: 400;
  line-height: normal;
}

.paraPrimary {
  font-size: 16px !important;
  color: var(--primary-color) !important;
  font-weight: 400;
  line-height: normal;
}

.small-bold {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.small-bolder {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.medium-text {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}

.medium-bold {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.medium-bolder {
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
}

.large-text {
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
}

.textPrimary {
  color: var(--primary-color);
}

.bgPrimary {
  background-color: var(--primary-color);
}

.boxShadow {
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.10);
}

/* Navbar css */

.logo-img {
  height: 45px;
}
.footer-logo{
  height: 50px;
}

.nav-line {
  color: rgba(98, 95, 95, 0.50);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-link {
  font-weight: 500 !important;
}
.loginbtn:hover{
  background-color: #4E2675 !important;
}

/* home Page css */

.homeHeroSection {
  position: relative;
  background: url("/assets/homepage/herosection-backround.jpg") lightgray 50% / cover no-repeat;
}

.homeHeroSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(255, 255, 255);
  opacity: 0.9;
  z-index: 1;
}

.homeHeroSection>* {
  position: relative;
  z-index: 2;
}

.leftBackground {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.viewButton,
.bookButton {
  border-radius: 8px;
    cursor: pointer;
}

.viewButton p,
.bookButton p {
  font-weight: 600;
  font-size: 18px;
  
}

@media (max-width:578px) {

  .viewButton p,
  .bookButton p {
    font-weight: 600;
    font-size: 12px;
  
  }
}

.viewButton {
  border: 1px solid var(--primary-color);
}

.bookButton {
  background: #5F2D8B;
  transition: all 0.5s ease;
}
.bookButton:hover{
   background: #4E2675;;
}

.ratings {
  background-color: var(--primary-light);
  border-radius: 4px;
}

.imageBgColumn {
  background: none;
}

@media (max-width: 991.98px) {
  .homeHeroSection {
    background: none !important;
  }

  .homeHeroSection::before {
    display: none;
  }

  .imageBgColumn {
    background: url("/assets/homepage/herosection-backround.jpg") lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
  }

  .leftBackground {
    display: none !important;
  }
}

.homeCard {
  border-radius: 20px;
  color: var(--primary-light);
}

.learnMore {
  color: var(--third-color);
  font-weight: 600;
  font-size: 18px;
}

.tilt {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.tilt::before {
  content: '';
  position: absolute;
  bottom: -0.2rem;
  /* left: -0.1em; */
  width: 100%;
  height: 100%;
  transform: rotate(-2deg);
  z-index: -1;
}

.tilt-primary::before {
  background-color: var(--primary-color)
}

.tilt-secondary::before {
  background-color: var(--secondary-light)
}

.tilt-third::before {
  background-color: var(--third-color)
}

.custom-checkbox {
  width: 34px !important;
  height: 34px;
  border: 3px solid black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.form-select,
.form-input {
  background-color: var(--primary-light) !important;
  border-radius: 10px;
  border: none;
  color: var(--paragraph-color) !important;
  font-size: 16px;
}

.form-input:focus {
  border: none !important;
  outline: none !important;
}

.stepIndex {
  width: 60px;
  height: 60px;
}

.stepCard {
  background-color: var(--primary-light);
  border-radius: 16px;
  border: 1px solid var(--Primary-light);
}

/* Dots container */

.slick-dots {
  bottom: -40px !important;
}

.custom-dots-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
  margin: 0;
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* Each dot */
.custom-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary-light);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

/* Active dot */
.slick-dots li.slick-active .custom-dot {
  background-color: var(--primary-color);
}

.cardComa {
  width: 48px;
  height: 48px;
}

.reviewImg {
  width: 57px;
  height: 57px;
  border: 5px solid white;
  border-radius: 50%;
}

.middleTestimonial {
  /* background: url("/assets/homepage/testimonial_1.png"); */
}

.footer-top {
  width: 100%;
  padding: 7%;
}

@media (max-width:600px) {
  .footer-top {
  padding-top: 10% !important;
  padding-bottom: 10% !important;
}
}

.footer-link {
  color: #77808B;
  font-weight: 500;
  font-family: Roboto;
  font-size: 16px;
}

.footer-head {
  font-size: 16px;
  font-weight: 700;

  font-family: Raleway;
}

.reasonCard {
  border-radius: 10px !important;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.10);
}

.important {
  font-size: 18px;
  font-weight: 700;
}

/* home page responsive */

@media (max-width:1024px) {
  .small-h2 {
    font-size: 23px !important;
  }
}
@media (max-width:996px) {
    .doctorName {
    font-size: 26px !important;
  }
  .medium-bold {
  font-size: 20px !important;
  font-weight: 500 !important;
}
.whyChoose-line {
  font-size: 17px !important;
  font-weight: 400 !important;
}
.whyChoosePara {
  font-size: 26px !important;
}

.whyChooseHead {
  font-size: 38px !important;
}
h1 {
  font-size: 36px !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 28px !important;
  font-weight: 600 !important;
}
.medium-text {
  font-size: 20px  !important;
}
.large-text {
  font-size: 21px !important;
}
.medium-bolder {
  font-size: 20px !important
}

}

@media (max-width:500px) {
  .heroSectionImage {
    width: 164px !important;
  }

  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  .para,
  .paraPrimary {
    font-size: 14px !important;
  }

  .medium-text {
    font-size: 18px !important;
  }

  .form-select,
  .form-input {
    font-size: 14px !important;
  }

  .small-bold {
    font-size: 16px !important;
  }

  .small-bolder {
    font-size: 16px !important;
  }

  .large-text {
    font-size: 18px !important;
  }

  .medium-bolder {
    font-size: 18px !important;
    font-weight: 600 !important;
  }

  .justifyText {
    text-align: justify;
  }

  .important {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .stepIndex {
    width: 40px;
    height: 40px;
  }

  .small-h2 {
    font-size: 18px !important;
  }

  .medium-bold {
    font-size: 17px !important;
    font-weight: 600 !important;
  }
  .handIcon{
    width: 16px !important;
    height: 16px !important;
  }
}

.copyright{
  color: #283646;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
}

@media (max-width:768px) {
  .reasonCard {
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  .footer-copyright {
    color: var(--primary-color);
  }
}

/* how we help page */

.symptomsCard {
  border-radius: 16px;
  background: #4E2675;
  height: 100%;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.06);
}

.vedio_img {
  position: absolute;
  top: 44%;
  left: 40%;
  /* width: 80px; */
}

.howWeHelp {
  padding-left: 7%;
}

@media (max-width:1024px) {
  .howWeHelp {
    padding-left: 7%;
    padding-right: 7%;
  }
}

.heroSection_backround_img {
  object-fit: cover;
  z-index: 0;
  top: 6%;
  right: 4%;
}

@media (max-width:1024px) {
  .heroSection_backround_img {
    right: 13% !important;
  }
}

@media (max-width:770px) {
  .heroSection_backround_img {
    right: 5% !important;
  }
}

@media (max-width:680px) {
  .heroSection_backround_img {
    right: 0% !important;
  }
}

@media (max-width:600px) {
  .heroSection_backround_img {
    right: 1% !important;
    left: 1% !important;
  }
}

/* components/StepTimeline.module.css */

.step-index {
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 28px;
  position: relative;
  z-index: 1;
}

.vertical-line {
  width: 2px;
  height: 60px;
  background-color: var(--primary-color);
}


@media (max-width:578px) {
  .step-index {
    width: 45px !important;
    height: 45px !important;
  }

  .vertical-line {
    width: 2px;
    height: 100px !important;
    background-color: var(--primary-color);
  }

  .vedio_img {
    top: 33% !important;
    left: 37% !important;
    width: 60px;
    height: 60px;
  }
}

/* why essi page */

.essiCard {
  border: 1px solid var(--Primary-Light, #ECE6F3);
  border-radius: 16px;
}

.whyChooseContainer {
  background-color: rgba(78, 38, 117, 0.10) !important;
}

.whyChoosePara {
  font-size: 36px;
  font-weight: 700;
}

.whyChooseHead {
  font-size: 48px !important;
  font-weight: 700 !important;
}

.whyChoose-line {
  font-size: 24px !important;
  font-weight: 500 !important;
}

@media (max-width:1024px) {
  .whyChoose-line {
    font-size: 19px !important;
  }
}

@media (max-width:576px) {
  .whyChoosePara {
    font-size: 18px;
    font-weight: 600;
  }

  .whyChooseHead {
    font-size: 16px !important;
    font-weight: 500 !important;
  }

  .whyChoose-line {
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .whyChooseContainer {
    background-color: white !important;
  }

}

/* meet our team css */

.doctorName {
  font-size: 36px !important;
  font-weight: 600;
}

@media (max-width:578px) {
  .doctorName {
    font-size: 18px !important;
  }
}

/* endometriosis mapping css */

.mapping-points {
  border-radius: 10px;
  background-color: rgba(247, 255, 0, 0.10);
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.10);
  margin-left: 6%;
  width: fit-content;
  padding: 3%;
}

.mappingCard1 {
  border-radius: 20px;
  background: rgba(95, 45, 139, 0.10);
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.06);
}

.mappingCard2 {
  border-radius: 20px;
  background: rgba(255, 0, 140, 0.10);
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.06);
}

@media (max-width:650px) {
  .mapping-points , .surgery-points {  
    margin-left: 0% !important;
  }
}

/* endometriosis surgery css */

.surgery-points{
   border-radius: 10px;
background: rgba(78, 38, 117, 0.10);
box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.10);
  margin-left: 6%;
  width: fit-content;
  padding: 3%;
}

/* slider css */

/* height fix */

/* @media (max-width:1024) {
   .stepCard{
    min-height: 400px !important;
   }
}
.stepCard{
    min-height: 475px !important;
   } */